name: Docker Image CI

on:
  push:
    tags:
      - "*"
    
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - image: yt_toolkit_api
            dir: youtubeijs-info-api

    permissions:
      contents: read
      packages: write
    
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push image
      uses: docker/build-push-action@v6
      with:
        context: ${{ matrix.dir }}
        push: true
        tags: |
          ghcr.io/${{ github.repository }}/${{ matrix.image }}:${{ github.ref_name }}
            

    # - name: Build the Docker image
    #   run: docker build ${{ matrix.dir }} --tag ${{ matrix.image }}:$GITHUB_REF_NAME
