name: Docker Image CI

on:
  push:
    tags:
      - "*"
    
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - image: yt_toolkit_api
            dir: youtubeijs-info-api
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build ${{ matrix.dir }} --tag ${{ matrix.image }}:$GITHUB_REF_NAME
